:root {
  --color-primary: #002f6c;
  --color-secondary: #6ca0dc;
  --color-gray: #a8b1b8;
  --color-background: #f9fafb;
  --color-accent: #c8102e;
  --font-primary: 'Montserrat', Arial, sans-serif;
}
